.navbar {
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}
.navbar-nav{
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}
.nav-right {
	padding-right: 500px;
}
.position-right {
	right: 30px;
	position: absolute;
}
