<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Get Cooking.</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a [routerLink]="''"class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="'my-recipes'" href="#">Recipes<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Recipes
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">All Recipes</a>
					<a class="dropdown-item" href="#">Favorites</a>
					<a class="dropdown-item" href="#">Import</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav position-right">
			<li class="nav-item active">
				<a class="nav-link" href="#">Login</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Sign Up</a>
			</li>
		</ul>
	</div>
</nav>
