.hero-header {
	background-image: url("../../assets/cooking-hero.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	& .title {
		text-align: center;
		padding-top: 150px;
		padding-bottom: 150px;
	}
}
