.my-recipes {
	background-image: url("../../assets/Cooking_Background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	.sub-title {
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		color: black;
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.no-data {
	text-align: center;
}
.btn-info {
	border-radius: 20px;
	background-color: maroon;
	border: maroon;
}
