.my-recipes {
	height: 200px;
	// background-color: #DEB887;
	background-image: url("../../assets/Cooking_Background.jpg");
	// background-position: center;
	// background-repeat: no-repeat;
	padding-top: 50px;
	.title {
		text-align: center;
		font-weight: bold;
		color: white;
	}
	.sub-title {
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		color: white;
	}
}
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.padding {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
