.my-recipes {
	// height: 400px;
	// background-color: #DEB887;
	background-image: url("../../assets/veggies-cook.jpg");
	background-position: top;
	background-repeat: repeat;
	.sub-title {
		padding-top: 80px;
		padding-bottom: 80px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: black;
		padding-right: 30px;
	}
}
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.padding {
	margin-top: 20px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.star {
	color: maroon;
	font-size: 25px;
	cursor: pointer;
}
