.my-recipes {
	// height: 400px;
	// background-color: #DEB887;
	background-image: url("../../assets/veggies-cook.jpg");
	background-position: top;
	background-repeat: repeat;
	.sub-title {
		padding-top: 80px;
		padding-bottom: 80px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: black;
		padding-right: 80px;
	}
}
